In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('test.csv')

In [8]:
df.shape

(4277, 13)

In [6]:
df.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [4]:
def get_info(column):
    print("No of Null Values:",column.isnull().sum())
    print("Mean:",column.mean())
    print("Median:",column.median())
    print("Mode:",column.mode())
    print("Standard Deviation:",column.std())
    print("Variance:",column.var())
    print("Skewness:",column.skew())
    print("Kurtosis:",column.kurt())
    print("Min:",column.min())
    print("Max:",column.max())
    print("Q1:",column.quantile(0.25))
    print("Q2:",column.quantile(0.50))
    print("Q3:",column.quantile(0.75))
    print("IQR:",column.quantile(0.75)-column.quantile(0.25))
    print("Range:",column.max()-column.min())
    print("**********")

def get_df_info(df):
    print("Total No of Rows:",df.shape[0])
    print("Total No of Columns:",df.shape[1])
    # print(df.dtypes)
    print(df.describe())
    print(df.isnull().sum())

In [17]:
# fill with mean

get_info(df['Age'])
age = df['Age'].fillna(df['Age'].mean())
get_info(age)

No of Null Values: 91
Mean: 28.65814620162446
Median: 26.0
Mode: 0    18.0
Name: Age, dtype: float64
Standard Deviation: 14.179071585227373
Variance: 201.04607101900228
Skewness: 0.48480028606763714
Kurtosis: 0.2185229288313879
Min: 0.0
Max: 79.0
Q1: 19.0
Q2: 26.0
Q3: 37.0
IQR: 18.0
Range: 79.0
**********
No of Null Values: 0
Mean: 28.658146201624465
Median: 27.0
Mode: 0    18.0
Name: Age, dtype: float64
Standard Deviation: 14.027383742926217
Variance: 196.76749467131074
Skewness: 0.49003778434207823
Kurtosis: 0.2884997408233865
Min: 0.0
Max: 79.0
Q1: 20.0
Q2: 27.0
Q3: 37.0
IQR: 17.0
Range: 79.0
**********

In [22]:
# fill with median

get_info(df['Age'])
age = df['Age'].fillna(df['Age'].median())
get_info(age)

No of Null Values: 91
Mean: 28.65814620162446
Median: 26.0
Mode: 0    18.0
Name: Age, dtype: float64
Standard Deviation: 14.179071585227373
Variance: 201.04607101900228
Skewness: 0.48480028606763714
Kurtosis: 0.2185229288313879
Min: 0.0
Max: 79.0
Q1: 19.0
Q2: 26.0
Q3: 37.0
IQR: 18.0
Range: 79.0
**********
No of Null Values: 0
Mean: 28.60158989946224
Median: 26.0
Mode: 0    26.0
Name: Age, dtype: float64
Standard Deviation: 14.032628598575778
Variance: 196.91466538556682
Skewness: 0.5014405489471175
Kurtosis: 0.29160420691337796
Min: 0.0
Max: 79.0
Q1: 20.0
Q2: 26.0
Q3: 37.0
IQR: 17.0
Range: 79.0
**********

In [24]:
# fill with mode

get_info(df['Age'])
age = df['Age'].fillna(df['Age'].mode())
get_info(age)

No of Null Values: 91
Mean: 28.65814620162446
Median: 26.0
Mode: 0    18.0
Name: Age, dtype: float64
Standard Deviation: 14.179071585227373
Variance: 201.04607101900228
Skewness: 0.48480028606763714
Kurtosis: 0.2185229288313879
Min: 0.0
Max: 79.0
Q1: 19.0
Q2: 26.0
Q3: 37.0
IQR: 18.0
Range: 79.0
**********
No of Null Values: 91
Mean: 28.65814620162446
Median: 26.0
Mode: 0    18.0
Name: Age, dtype: float64
Standard Deviation: 14.179071585227373
Variance: 201.04607101900228
Skewness: 0.48480028606763714
Kurtosis: 0.2185229288313879
Min: 0.0
Max: 79.0
Q1: 19.0
Q2: 26.0
Q3: 37.0
IQR: 18.0
Range: 79.0
**********

In [21]:
# delete rows with null values
dfnew = df
for i in dfnew.columns:
    dfnew = dfnew.dropna(subset=[i])

get_df_info(df)
get_df_info(dfnew)

Total No of Rows: 4277
Total No of Columns: 13
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4186.000000   4195.000000   4171.000000   4179.000000   4176.000000
mean     28.658146    219.266269    439.484296    177.295525    303.052443
std      14.179072    607.011289   1527.663045    560.821123   1117.186015
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     78.000000     33.000000     50.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4197.000000
mean     310.710031
std     1246.994742
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64
Total No of Rows: 3281
Total No of Columns: 13
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  3281.000000   3281.000000   3281.000000   3281.000000   3281.000000
mean     28.582444    220.147516    440.914051    175.314233    296.718683
std      14.112137    619.036964   1491.232741    569.268632   1086.436043
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     78.000000     27.000000     49.000000
max      79.000000  11567.000000  20809.000000   8292.000000  15733.000000

             VRDeck
count   3281.000000
mean     300.355684
std     1172.719307
min        0.000000
25%        0.000000
50%        0.000000
75%       34.000000
max    19086.000000
PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
dtype: int64

In [26]:
# last observation carried forward
dfnew = df
dfnew = dfnew.ffill()
get_df_info(df)
get_df_info(dfnew)

Total No of Rows: 4277
Total No of Columns: 13
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4186.000000   4195.000000   4171.000000   4179.000000   4176.000000
mean     28.658146    219.266269    439.484296    177.295525    303.052443
std      14.179072    607.011289   1527.663045    560.821123   1117.186015
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     78.000000     33.000000     50.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4197.000000
mean     310.710031
std     1246.994742
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64
Total No of Rows: 4277
Total No of Columns: 13
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4277.000000   4277.000000   4277.000000   4277.000000   4277.000000
mean     28.640168    218.611176    435.936872    177.172785    302.142623
std      14.207990    604.876654   1516.255211    558.320088   1108.490204
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     52.000000     76.000000     34.000000     52.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4277.000000
mean     310.454758
std     1242.862813
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
dtype: int64

In [5]:
# next observation carried backward
dfnew = df
dfnew = dfnew.bfill()
get_df_info(df)
get_df_info(dfnew)

Total No of Rows: 4277
Total No of Columns: 13
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4186.000000   4195.000000   4171.000000   4179.000000   4176.000000
mean     28.658146    219.266269    439.484296    177.295525    303.052443
std      14.179072    607.011289   1527.663045    560.821123   1117.186015
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     78.000000     33.000000     50.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4197.000000
mean     310.710031
std     1246.994742
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64
Total No of Rows: 4277
Total No of Columns: 13
               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4277.000000   4277.000000   4277.000000   4277.000000   4277.000000
mean     28.645078    218.183072    441.921440    177.549451    305.068506
std      14.182108    603.694404   1535.031233    560.021725   1124.950248
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     80.000000     34.000000     50.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4277.000000
mean     311.991817
std     1246.283433
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
dtype: int64