Descriptive Statistics - Measures of Central Tendency and variability 
Perform the following operations on any open source dataset (e.g., data.csv) 
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for 
a  dataset  (age,  income  etc.)  with  numeric  variables  grouped  by  one  of  the  qualitative 
(categorical)  variable.  For  example,  if  your  categorical  variable  is  age  groups  and 
quantitative  variable  is  income,  then  provide  summary  statistics  of  income  grouped  by 
the  age  groups.  Create  a  list  that  contains  a  numeric  value  for  each  response  to  the 
categorical variable.  
2. Write  a  Python  program  to  display  some  basic  statistical  details  like  percentile,  mean, 
standard  deviation  etc.  of  the  species  of  ‘Iris-setosa’,  ‘Iris-versicolor’  and  ‘Iris-
versicolor’ of iris.csv dataset. 
 Provide the codes with outputs and explain everything that you do in this step.

In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('data.csv')

In [18]:
print("SD Of Age")
df['age'].std()

SD Of Age

14.049960379216154

In [33]:
# df.groupby('age')['charges'].agg(['mean','median','min','max','std'])

a = df.groupby('age')
mean = a['charges'].agg('mean')
median = a['charges'].agg('median')
min  = a['charges'].agg('min')
max = a['charges'].agg('max')
std = a['charges'].agg('std')

# merge with title in new dataframe
df2 = pd.concat([mean,median,min,max,std], axis=1)
df2.columns = ['mean','median','min','max','std']
df2

          charges       charges      charges      charges       charges
age
18    7086.217556   2198.189850   1121.87390  38792.68560  10198.459989
19    9747.909335   2135.891875   1241.56500  39722.74620  12469.537468
20   10159.697736   2459.720100   1391.52870  38344.56600  12049.624794
21    4730.464330   2254.423600   1515.34490  26018.95052   6168.059334
22   10012.932802   2641.155700   1664.99960  44501.39820  14653.363670
23   12419.820040   3594.538000   1815.87590  40904.19950  13421.332226
24   10648.015962   3045.137650   1969.61400  38126.24650  12203.650633
25    9838.365311   3750.148925   2137.65360  42112.23560  11551.289468
26    6133.825309   3388.882175   2302.30000  36085.21900   7765.729490
27   12184.701721   4544.324475   2483.73600  39611.75770  11941.821519
28    9069.187564   4344.951450   2689.49540  51194.55914  11428.968136
29   10430.158727   4906.409650   2866.09100  44585.45587  10680.198133
30   12719.110358   4837.582300   3554.20300  40932.42950  12515.212111
31   10196.980573   4738.268200   3260.19900  58571.07448  13646.442909
32    9220.300291   4672.016100   3866.85520  37607.52770   9346.679417
33   12351.532987   6210.083300   3704.35450  55135.40209  12877.615547
34   11613.528121   5490.091700   3935.17990  43943.87610  11735.073137
35   11307.182031   5836.520400   4746.34400  39983.42595  10699.982062
36   12204.476138   5478.036800   4399.73100  43753.33705  12884.341739
37   18019.911877   6985.506950   4646.75900  46113.51100  15125.287420
38    8102.733674   6455.862650   5383.53600  41949.24410   7328.907184
39   11778.242945   7512.267000   5649.71500  40103.89000   8633.209968
40   11772.251310   7077.189400   5415.66120  40003.33225   9908.912699
41    9653.745650   6875.961000   5699.83750  40273.64550   8859.592248
42   13061.038669   7443.643050   5966.88740  43896.37630  10707.617483
43   19267.278653  18767.737700   6250.43500  45863.20500  13529.394340
44   15859.396587   8023.135450   6948.70080  48885.13561  14394.948695
45   14830.199856   8603.823400   7222.78625  62592.87309  13722.541933
46   14342.590639   8825.086000   7147.10500  46151.12450  12159.482988
47   17653.999593   9715.841000   8062.76400  44202.65360  12208.024204
48   14632.500445   9447.382400   7789.63500  45702.02235  10163.267470
49   12696.006264   9681.120250   8116.68000  39727.61400   7531.013383
50   15663.003301  10107.220600   8442.66700  42856.83800  10939.123514
51   15682.255867   9875.680400   8782.46900  47462.89400  12707.113233
52   18256.269719  11396.900200   9140.95100  60021.39897  12408.353431
53   16020.930755  11157.174000   9487.64420  46661.44240  10096.072182
54   18758.546475  11816.449500   9850.43200  63770.42801  14216.087249
55   16164.545488  11880.231025  10214.63600  44423.80300  10107.689508
56   15025.515837  11658.247100  10577.08700  43921.18370   9204.315199
57   16447.185250  11893.878225  10959.33000  48675.51770   9987.941108
58   13878.928112  11931.125250  11345.51900  47496.49445   7437.416700
59   18895.869532  12928.791100  11743.29900  48970.24760  11170.560074
60   21979.418507  13204.285650  12142.57860  52590.82939  14923.698375
61   22024.457609  13635.637900  12557.60530  48517.56315  12525.158617
62   19163.856573  13844.797200  12957.11800  46718.16325  10320.270030
63   19884.998461  14349.854400  13390.55900  48824.45000  11850.935198
64   23275.530837  15528.758375  13822.80300  49577.66240  13029.841607

In [34]:
iris = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

# Save file locally
# urlretrieve(iris)

# Read file into a DataFrame and print its head
df = pd.read_csv(iris, sep=',')

# Add column names to the data frame
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
df.columns = attributes

# View the first five lines of data frame
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa